<h1>Edición de Tarea</h1>
<form role="form" action="/new" method="post">
  <div class="form-group">
    <input class="form-control" type="text" name="title">
  </div>
  <input class="btn btn-primary" type="submit">
</form>