<h1>Nueva Tarea</h1>
<form role="form" action="/new" method="post">
  <div class="form-group">
    <input class="form-control" type="text" name="title" placeholder="Escribe aquí...">
  </div>
  <input class="btn btn-primary" type="submit">
</form>